{% extends 'adminbase.html' %}
{% block content %}
    {% load static %}



    <style>
        #customers {
            font-family: Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        #customers td, #customers th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        #customers tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        #customers tr:hover {
            background-color: #ddd;
        }

        #customers th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #04AA6D;
            color: white;
        }
    </style>



    <div style="background-color: white; margin-left: 25px; margin-top: 35px; margin-right: 25px">
        <form action="" method="get">
            <input type="date" name="from_date" placeholder="Sanadan">
            <input type="date" name="to_date" placeholder="Sanagacha">
            <button type="submit" class="btn btn-outline-success">Saralash</button>
        </form>

        <h1 style="text-align: center">Qushxonaga kirim</h1>
        <button type="button" class="btn btn-outline-success" style="text-align: right"
                onclick="window.location.href='/adminkirim-excel/'+'?'+window.location.href.split('?')[1]">Download
        </button>

        <table id="customers">
            <tr>
                <th>№</th>
                <th>Dehqon</th>
                <th>Mahsuloti</th>
                <th>Soni</th>
                <th>Taxminiy Massasi</th>
                <th>Sotilgan miqdori</th>
                <th>Sotilgan massasi</th>
                <th>Narxi (1kg)</th>
                <th>Jami Summa</th>
                <th>Jami to'lov</th>
                <th>Qarz</th>
                <th>To'lov Sanasi</th>
            </tr>
            {% for i in data %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ i.dehqon.full_name }}</td>
                    <td>{{ i.product.name }}</td>
                    <td>{{ i.quantity }}</td>
                    <td>{{ i.weight }}</td>
                    <td>{{ i.sotilgan_miqdor }}</td>
                    <td>{{ i.sotilgan_massa }}</td>
                    <td>{{ i.price }}</td>
                    <td>{{ i.all_amount }}</td>
                    <td>{{ i.all_payment }}</td>
                    <td>{{ i.all_debt }}</td>
                    <td>{{ i.created_date|date:'d.m.Y' }}</td>
                </tr>

            {% endfor %}
            <tr>
                <td>Jami</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>{{ jami }}</td>
                <td></td>
            </tr>
        </table>
    </div>




{% endblock %}





