{% extends 'bozorbase.html' %}
{% block content %}
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
            background-color: #f7f7f7;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;

        }

    </style>
    <div class="button" style="background-color: #f7f7f7; margin-top: 10px">
        <a href="{% url 'bazar-bazar-add' %} ">
            <button class="btn btn-outline-success" style="margin-left: 80%; margin-top: 5px; margin-bottom: 5px; ">
                Qo'shish
            </button>
        </a>
    </div>
    <div style="text-align: center;margin-right: 25px;margin-top: 25px; margin-left: 25px; background-color: #f7f7f7"
         class="center">
        <h2>Bozordan sotib olingan mahsulotlar</h2>
        <table>
            <tr>
                <th>№</th>
                <th>Mijoz</th>
                <th>Mahsulot</th>
                <th>Og'irligi</th>
                <th>Narxi(1 kg)</th>
                <th>Umumiy narxi</th>
                <th>Sanasi</th>
            </tr>
            {% for i in page_obj %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td><a href="{% url 'bozor-bozor-kirim-update' i.id %}">{{ i.client.full_name }}</a></td>
                    <td>{{ i.product.name }}</td>
                    <td>{{ i.weight }}</td>
                    <td>{{ i.price }}</td>
                    <td>{{ i.all_price }}</td>
                    <td>{{ i.created_date }}</td>
                </tr>
            {% endfor %}
        </table>
        {% if is_paginated %}
            <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}">Avvalgi sahifa</a>
                {% endif %}
                <span class="page-current">
                    Sahifa {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">Keyingi sahifa</a>
                {% endif %}
            </span>
            </div>
        {% endif %}




{% endblock %}