{% extends 'base.html' %}
{% block content %}








    <div class="limiter">


        <div class="container-table100">
            <div class="wrap-table100">


                <div class="table100 ver1 m-b-110">
                    <div class=" table100-head">
                        <table>
                            <thead>
                            <tr class="row100 head">
                                <th class="cell100 column1">Mijoz</th>
                                <th class="cell100 column1">Dehqon</th>
                                <th class="cell100 column1">Og'irligi</th>
                                <th class="cell100 column1">Narxi</th>
                                <th class="cell100 column1">Soni</th>
                                <th class="cell100 column1">Umumiy</th>
                                <th class="cell100 column1">Vaqti</th>
                            </tr>

                            </thead>

                        </table>
                    </div>


                    <div class="table100-body js-pscroll">

                        <table id="qushxona_table">

                            <tbody>
                            {% for i in data %}

                                <tr>
                                    <td class="cell100 column1"><a
                                            href="{% url 'clientPageView' i.id %}">{{ i.client }}</a></td>
                                    <td class="cell100 column1">{{ i.dehqon }}</td>
                                    <td class="cell100 column1">{{ i.weight }}</td>
                                    <td class="cell100 column1">{{ i.price }}</td>
                                    <td class="cell100 column1">{{ i.quantity }}</td>
                                    <td class="cell100 column1">{{ i.total_price }}</td>
                                    <td class="cell100 column1">{{ i.created_data }}</td>
                                </tr>
                            {% endfor %}
                            <tr id="add_income">

                            </tr>

                            </tbody>

                        </table>

                        <div id="addbutton_div" style="height: 40px" onclick="add_income()">
                            <button id="addbutton" class="button_save" style="height: 40px; font-size: 25px">Klientlarga
                                mahsulot sotish
                            </button>
                        </div>

                    </div>

                </div>

            </div>
        </div>
    </div>















    <!--

<div class="qushxona__table1">
    <table class="qushxona_table">
        <tr>
            <th>Mijoz</th>
            <th>Dehqon</th>
            <th>Og'irligi</th>
            <th>Narxi</th>
            <th>Soni</th>
            <th>Umumiy narx</th>
            <th>Sotilgan vaqti</th>
        </tr>
        {% for i in data %}
            <tr>
                <td><a href="{% url 'clientPageView' i.id %}">{{ i.client}}</a></td>
                <td>{{ i.dehqon }}</td>
                <td>{{ i.weight }}</td>
                <td>{{ i.price }}</td>
                <td>{{ i.quantity }}</td>
                <td>{{ i.total_price }}</td>
                <td>{{ i.created_data }}</td>
            </tr>
        {% endfor %}
            <tr id="add_income">

            </tr>
    </table>

    <button id="addbutton" style="text-align:left" onclick="add_income()">+Add</button>
    <div class="addstatus" id="addstatus" style="color: red; text-align: center">

    </div>
</div> -->
{% endblock %}